body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
	height: 1000px;
}

#header {
	position: fixed;
	width: 100%;
	height: 120px;
	top: 0;
	background-color: black;
	color: white;
	z-index: 10;
}

.top {
	display: inline-block;
	height: 50px;
	float: left;

}

.top_row1 {
    font: 20px arial, sans-serif;
	margin: 20px;
	position: relative;
}

.top_row2 {
	left: -340px;
	top: 30px;
	margin: 20px;
	position: relative;
}

.logo {
	margin: 10px;
	position: relative;
    font: 100px arial, sans-serif;
	color: white;
}

#search_container {

}

#post_to_classifieds_container {

}

#language_container {
	font-size: 20px;
}

#account_container {
	display: inline-block;
}

.category {
	margin: 30px;
	z-index: 5
}

#main {
	margin: 0 auto;
	width: 450px;
	position: absolute;
	margin-top: 200px;
	z-index: 1
}

#row-1 .category {
	display: inline-block;
}

#row-2 .category {
	display: inline-block;
}

#row-3 .category {
	display: inline-block;
}


#footer {
	position: absolute;
	height: 100px;
}

.content-area {
  margin-top: 100px;
  margin-left: 150px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
  background-color: rgb(220,220,240);
}

#gallery-title {
  font-size: 36px;
  text-align: center;
}

.gallery-unit {
  float: left;
  padding: 10px;
  margin: 20px;
  background-color: black;
}

.top-tag {
  background-color: pink;
  text-align: center;
}


.link {
  margin: 0;
}

.image {
  margin: 10px;
  background-color: gray;
  border-style: double;
  border-color: black;
  border-width: 5px;
}

.description {
  margin-bottom: 10px;
  background-color: pink;
}

a {
  text-decoration: none;
}

.sidebar {
	font-family: 'Open Sans', sans-serif;
	float: left;
	width: 150px;
	height: 1000px;
	position: relative;
	top: 20px;
	background-color: rgb(111,183,233);
	margin-right: 100px;
	z-index: -1;
}

.sidebar-title {
	font: 30px arial, sans-serif;
	letter-spacing: 2px;
	margin: 10px;
}

#list-view {
	position: relative;
	top: 20px;
	left: 0px;
	padding: 20px;
	padding-left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.list-item-sub {
	float: left;
	margin: 0 auto;
	margin: 10px;
}

#favorite .image{
	border-style: none;
	width: 20px;
	margin: 0;
}

.list-item {
	background-color: rgb(240, 240, 240);
	height: 60px;
	width: 1300px;
	border-radius: 30px;
	margin: 0px 0px 20px;
	margin-left: 50px;
	z-index: 4;
}

.list-item:hover {
	background-color: rgb(233,242,249);
}

input[type="text"] {
	width: 60px;
}

input[type="button"] {
	float: left;
	margin-right: 5px;
	width: 60px;
}

select {
	width: 100px;
}

.display-options {
	margin-bottom: 10px;
}

.min-max {
	margin-bottom: 10px;
}

.dropdown-options {
	margin-bottom: 10px;
}

.housing-options {
	margin-bottom: 10px;
}

.update-search {
	margin-bottom: 500px:;
}

#gallery-title {
  font-size: 36px;
  text-align: center;
}

.gallery-unit {
  float: left;
  padding: 10px;
  margin: 20px;
  background-color: black;
}

.top-tag {
  background-color: pink;
  text-align: center;
}

.link {
  margin: 0;
}

.image {
  margin: 10px;
  background-color: gray;
  border-style: double;
  border-color: black;
  border-width: 5px;
}

.description {
  margin-bottom: 10px;
  background-color: pink;
}

a {
  text-decoration: none;
}
